body {
  margin: 0;
  padding: 0;
  /* Fixed background image */
  background-image: url('../Images/BG/Wood_bg.jpg'); /* Replace with your image URL */
  background-size: cover; /* Covers entire viewport */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Image stays fixed during scrolling */
  background-repeat: no-repeat; /* Prevents tiling */
  min-height: 100vh; /* Ensures full viewport coverage */
}
html{
  scroll-behavior: smooth;
}